body {
    margin: 0px;
}

      /* body header */

#body-header {
    height: 65vh;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

     /* horizontaal list */

.horizontal-list {
    list-style: none;
}

.horizontal-list li {
    display: inline;
    max-width: 0px 8px 8px 0px;
    font-size: 24px;

}

.horizontal-list li a {
    color: white;
    text-decoration: none;
    transition:  0.9s border-bottom 0.4s;

}

.horizontal-list li a:hover {
    color: red;
    border-bottom: 1px solid wheat;
}

.text-center {
    text-align: center;
}


/* Add social media icons */

#name-social-container {
    margin-top: 50px;
}

#my-name {
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-left: 38px;
}

.social-icons li {
    border-radius: 50%;
}

.social-icons li:hover {
     box-shadow: rgba(230,196,196,0.3);
}

.social-icons li a img {
    width: 1rem;
    padding: 8px;
}