body {
    margin: 0px;
}

#body-header {
    height: 65vh;
    background-image: url(/images/laptop-g9b5ad2b47_1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.horizontal-list {
    list-style: none;
}

.horizontal-list li {
    display: inline;
    max-width: 0px 8px 8px 0px;

}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}