body {
    margin: 0px;
}

#body-header {
    height: 65vh;
    background-image: url(/images/laptop-g9b5ad2b47_1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}